body {
  background-color: #759ddd;
  margin: 0;
}

.container {
  margin: 1rem 1rem;  
}

.AutomaticHeader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: rgb(237, 235, 235);
  padding: 0 .6rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  font-family: var(--Fonte);
  
}

.form-group>label {
  color: #777;
  font-size: .75rem;
  margin-bottom: .25rem;
  font-family: var(--Fonte);
}

.form-group>select {
  padding: 3px 3px;
  border-radius: .3rem;
  outline: none;
  border: 1px solid #777;
  font-family: var(--Fonte);
  margin: 0;
  background-color: transparent;
  font-size: .75rem; 
  

}

.form-group>input {
  padding: 3px 3px;
  border-radius: .3rem;
  outline: none;
  border: 1px solid #777;
  font-family: var(--Fonte);
  margin: 0;
  background-color: transparent;
  font-size: .75rem; 
}




.btn {
  padding: 8px 27px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--yellow);
  border-radius: 0.6rem;
  font-family: var(--Fonte);
}

.btn:hover {
  background-color: var(--yellowBrither);
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}




@media (max-width: 650px) {

  .AutomaticHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    
    padding: 0 .3rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  }


}